students{
	background-color: cyan;
	font-family:"cambria";
}

student{
	display: block;
	margin-bottom:30pt;
	margin-left:0;
}

sname{
	display:block;
	font-size:15pt;
	text-transform:uppercase;
	color:blue;
}
usn:before{
	content:"USN: ";
	font-size:14pt;
	font-weight:bold;
}
usn{
	display:block;
	font-size:15pt;
	margin-left:20pt;
	text-transform:uppercase;
	color:blueviolet;
}
college:before{
	content:"Affiliated College: ";
	font-size:14pt;
	font-weight:bold;
}
college{
	display:block;
	font-size:15pt;
	margin-left:20pt;
	text-transform:uppercase;
	color:blueviolet;
}

branch:before{
	content:"Branch: ";
	font-size:14pt;
	font-weight:bold;
}
branch{
	display:block;
	font-size:15pt;
	margin-left:20pt;
	color:blueviolet;
}
yoj:before{
	content:"Year of Joining: ";
	font-size:14pt;
	font-weight:bold;
	
}
yoj{
	display:block;
	font-size:15pt;
	margin-left:20pt;
	color:blueviolet;
}
email:before{
	content:"EMAILID: ";
	font-size:14pt;
	font-weight:bold;
}
email{
	display:block;
	font-size:15pt;
	margin-left:20pt;
	color:blueviolet;
}
